<div class="main-container" id="main-container" data-ng-controller="SettingsController" >
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div data-ng-include="'/modules/core/views/sidenavbar.client.view.html'" ></div>

        <div class="main-content">

            <div data-ng-include="'/modules/core/views/breadcrums.client.view.html'" ></div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span ng-bind="currentPage"> </span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            overview
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">

                        <div class="longin-layout" >
                            <div class="row">


                                <div class="longin-layout">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="login-container">
                                                <div class="position-relative">
                                                    <div id="signup-box" class="signup-box widget-box no-border">
                                                        <div class="widget-body" style="border: 1px solid #438eb9;" >
                                                            <div class="widget-main">
                                                                <h3 class="header red lighter bigger">
                                                                    <i class="icon-key"></i>
                                                                    Change your password
                                                                </h3>
                                                                <div class="space-6"></div>
                                                                <form data-ng-submit="changeUserPassword()"  novalidate autocomplete="off" >
                                                                    <fieldset>
                                                                        <label class="block clearfix"> Current Password
                                                                            <span class="block input-icon input-icon-right">
                                                                                <input  type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password" />
                                                                                <i class="icon-envelope"></i>
                                                                            </span>
                                                                        </label>
                                                                        <label class="block clearfix"> New Password
                                                                            <span class="block input-icon input-icon-right">
                                                                                <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password"/>
                                                                                <i class="icon-user"></i>
                                                                            </span>
                                                                        </label>
                                                                        <label class="block clearfix"> Verify Password
                                                                            <span class="block input-icon input-icon-right">
                                                                                <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password"/>
                                                                                <i class="icon-user"></i>
                                                                            </span>
                                                                        </label>
                                                                        <div class="space-20"></div>
                                                                        <div class="clearfix">
                                                                            <button type="submit" class="width-48 pull-right btn btn-sm btn-success">
                                                                                Save Password <i class="icon-arrow-right icon-on-right"></i>
                                                                            </button>
                                                                        </div>
                                                                    </fieldset>
                                                                </form>
                                                            </div>
                                                            <div data-ng-show="success" class="text-center text-success">
                                                                <strong>Profile Saved Successfully</strong>
                                                            </div>
                                                            <div data-ng-show="error" class="text-center text-danger">
                                                                <strong>{{error}}</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div><!-- /.main-content -->

        <!--<div data-ng-include="'/modules/core/views/acesettings.client.view.html'"></div>-->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
