
<section class="row" data-ng-controller="AuthenticationController">
    <div class="longi-layout">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="icon-leaf green"></i>
                            <span class="red"></span>
                            <span class="blue">BHAM</span>
                        </h1>
                        <h4 class="blue">&copy; FEi Systems</h4>
                    </div>
                    <div class="position-relative">
                        <div id="signup-box" class="signup-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header green lighter bigger">
                                        <i class="icon-group blue"></i>
                                        New User Registration
                                    </h4>
                                    <div class="space-6"></div>
                                    <p> Enter your details to begin: </p>
                                    <form data-ng-submit="signup()" novalidate autocomplete="off" >
                                        <fieldset>
                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="email" class="form-control" id="email" name="email" data-ng-model="credentials.email" placeholder="Email"/>
                                            <i class="icon-envelope"></i>
                                        </span>
                                            </label>

                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text"  required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name"/>
                                            <i class="icon-user"></i>
                                        </span>
                                            </label>

                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text"  id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name"/>
                                            <i class="icon-user"></i>
                                        </span>
                                            </label>

                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text"  id="username" name="username" data-ng-model="credentials.username" class="form-control" placeholder="Username"/>
                                            <i class="icon-user"></i>
                                        </span>
                                            </label>
                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password"/>
                                            <i class="icon-lock"></i>
                                        </span>
                                            </label>
                                            <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="password" class="form-control" placeholder="Repeat password"/>
                                            <i class="icon-retweet"></i>
                                        </span>
                                            </label>
                                            <label class="block">
                                                <input type="checkbox" class="ace"/>
                                        <span class="lbl">
                                            I accept the <a href="#">User Agreement</a>
                                        </span>
                                            </label>
                                            <div class="space-20"></div>
                                            <div class="clearfix">
                                                <button type="reset" class="width-48 pull-left btn btn-sm">
                                                    <i class="icon-refresh"></i>Reset
                                                </button>
                                                <button type="submit" class="width-48 pull-right btn btn-sm btn-success">
                                                    Register <i class="icon-arrow-right icon-on-right"></i>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div data-ng-show="error" class="text-center text-danger">
                                    <strong>{{error}}</strong>
                                </div>
                            </div>
                            <!-- /widget-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>