<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>{{title}}</title>

        <!-- General META -->
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Semantic META -->
        <meta name="keywords" content="{{keywords}}">
        <meta name="description" content="{{description}}">

        <!-- Facebook META -->
        <meta property="fb:app_id" content="{{facebookAppId}}">
        <meta property="og:site_name" content="{{title}}">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:url" content="{{url}}">
        <meta property="og:image" content="/img/brand/logo.png">
        <meta property="og:type" content="website">

        <!-- Twitter META -->
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:url" content="{{url}}">
        <meta name="twitter:image" content="/img/brand/logo.png">

        <!-- BHAM META-->
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- END BHAM META-->

        <!-- Fav Icon -->
        <link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

        <!-- ACE STYLES-->
        <link rel="stylesheet"  href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

        <!--[if IE 7]>
        <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <link rel="stylesheet" href="assets/css/jquery-ui-1.10.3.full.min.css" />
        <link rel="stylesheet" href="assets/css/datepicker.css" />

        <!-- fonts -->

        <link rel="stylesheet" href="assets/css/ace-fonts.css" />

        <!-- ace styles -->

        <link rel="stylesheet" href="assets/css/ace.min.css" />
        <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="assets/css/ace-skins.min.css" />

        <!-- END ACE STYLES-->

        <!--Application CSS Files-->
        {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
        {% endfor %}

        <link rel="stylesheet"  type="text/css" href="assets/css/tree-control.css" />

        <!-- ace settings handler -->

        <script src="assets/js/ace-extra.min.js"></script>

        <!-- HTML5 Shim -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body class="ng-cloak">
        <header data-ng-include="'/modules/core/views/header.client.view.html'" ></header>

        <!-- BHAM CONTENT-->
        {% block content %}{% endblock %}
        <!-- END BHAM CONTENT-->

        <!--Embedding The User Object-->
        <script type="text/javascript">
            var user = {{ user | json | safe }};
        </script>

        <!--Application JavaScript Files-->
        {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
        {% endfor %}

        <!-- ACE JS FIELDS-->

        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/typeahead-bs2.min.js"></script>

        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
        <script src="assets/js/excanvas.min.js"></script>
        <![endif]-->

        <!--
        Commented this custom jquery-ui template
        <script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
        -->

        <script src="assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="assets/js/jquery.slimscroll.min.js"></script>
        <script src="assets/js/jquery.easy-pie-chart.min.js"></script>
        <script src="assets/js/jquery.sparkline.min.js"></script>

        <script src="assets/js/flot/jquery.flot.min.js"></script>
        <script src="assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="assets/js/flot/jquery.flot.resize.min.js"></script>

        <script src="assets/js/date-time/bootstrap-datepicker.min.js"></script>

        <!-- ace scripts -->

        <script src="assets/js/ace-elements.min.js"></script>
        <script src="assets/js/ace.min.js"></script>

        <!-- END ACE JS FIELDS-->

        {% if process.env.NODE_ENV === 'development' %}
        <!--Livereload script rendered -->
        <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
        {% endif %}
    </body>

</html>